<footer>This is my fourth Rails app! Check out the <a href="https://github.com/jimmylorunning/om-nom-nom">source on github</a> or <a href="http://jimmylocoding.com">my coding blog</a> and give me some feedback!</footer>
